{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Uap Project{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'default.css' %}">
    {% block styles %}
    
    {% endblock %}  
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}"><img src="{% static 'logo.png' %}" style = "height: 60px;width: auto;" alt="Logo" class="logo"></a>
        <div class="nav-links">
        <a href="{% url 'user_home'%}" class="home">HOME</a>
        <a href="{% url 'global_store' %}">CATEGORIES</a> 
        {% if user.is_authenticated %}
            <a href="{% url 'cart' %}">CART</a>
            <a href="{% url 'logout_confirmation' %}" class="logout">LOGOUT</a>
        {% else %}
            <a href="/accounts/login/"class="login">LOGIN</a>
        {% endif %}
        </div>
    </nav>
    {% block content %}
    
    {% endblock %}
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Uap Project. All rights reserved.</p>
            <p>Contact us:
    </footer>
</body>