{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Uap Project{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<header>
        <img class="logo" src="../assets/logo.png" style="height: 75px;">
        <nav>
            <ul class="nav-link">
              <li><a href="{% url 'home'%}">HOME</a></li>
              <li><a href="products">CATEGORIES</a></li>
              <li><a href="cart">CART</a></li>
        </ul>
        </nav>
       
        <form class="d-flex">
          <input class="form-control custom-search me-2" type="search" placeholder="Search...">
          <button class="btn custom-button" type="submit">Search</button>
        </form>

        <a class="loginbtn" href="registration/login.html"><button class="loginbtn" >LOGIN</button></a>
        
    </header>
<body>
        {% block content %}
        
        {% endblock %}
        
</body>

<footer>
    <div class="footer">
        <div class="footleft">
            <img src="../assets/logo.png" width="200px">
            <br><br><br><br>
            <p>
                Universitas Bina Nusantara, atau juga dikenal dengan 
                Binus University, merupakan salah satu universitas swasta 
                yang berlokasi di Jakarta, Indonesia. Berawal dari sebuah 
                institusi pelatihan komputer Modern Computer Course pada 
                21 Oktober 1974, dan berkembang dan akhirnya berubah menjadi 
                Universitas pada 8 Agustus 1996, Universitas Bina Nusantara.
            </p>
        </div>
        
        <div class="footcenter">
            <p>
                <p style="font-size: 25px;"><b>Address</b></p>
                Jl. Kebon Jeruk Raya No.27, RT.1/RW.2, Kb. Jeruk, 
                Kec. Kb. Jeruk, Kota Jakarta Barat, 
                Daerah Khusus Ibukota Jakarta 11530 <br><br>
            </p>
            <div id="contact">
                <p>
                    <img src="../assets/call.png">(+62) 8041 6969 69 <br>
                    <img src="../assets/email.png">pmb@binus.edu
                </p>
            </div>

            <div class="socialmedia">
                <div class="social">
                    <img src="../assets/Facebook.png">
                    <a href="https://www.facebook.com/universitasbinanusantara/">
                        Uap Market
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.instagram.com/binusuniversityofficial/">
                        <img src="../assets/Instagram.png">
                        @UapMarket
                    </a>
                </div>
                <div class="social">
                    <a href="https://www.youtube.com/channel/UCBgk_lJ4R9yD9D82G3O_3sA">
                    <img src="../assets/Youtube.png" >
                        UAP Market
                    </a>
                </div>
            </div>  
        </div>

        <div class="footright">
            <div class="about">
                <p style="font-size: 25px;">
                    <b>About</b>
                </p>
                <p>
                    Kami mahasiswa dari jurusan Multimedia system
                    membuat project akhir berupa Shortfilm yang berjudul
                    "Time Loop" yang menceritakan tentang dua orang sahabat
                    yang terjebak dalam time loop.
                </p>
            </div>
        </div>
</footer>
