{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Uap Project{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home'%}" class="home">HOME</a> | 
        <a href="products">CATEGORIES</a> | 
        <a href="cart">CART</a> |
        {% if user.is_authenticated %}
            <form action="{%url 'logout'%}" method="post">
                {% csrf_token %}
                <button type="submit">Log out</button>
            </form>
        {% else %}
            <a href="/accounts/login/"class="login">LOGIN</a>
        {% endif %}

    </nav>
    {% block content %}
    
    {% endblock %}
</body>