{% extends "base.html" %}

{%block title%}Home{%endblock title%}


{% block content%}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.username }}.</p>
    {% else %}
        <p>You are not logged in.</p>
        <a href={% url 'login' %}>Log in here.</a>
    {% endif %}
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Uap Project{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css" />
</head>
<section class="body1">
          <div class="body1-text">
            <h2>Discover Unique Products</h2>
            <p>Find the best deals from trusted sellers</p>
          </div>
        </section>

        <hr>
        
<section class="body2">
          <h3>Featured Products</h3>
          <div class="container">
            <!-- {% if products_list %} -->
              <!-- {% for product in products_list %} -->
              <div class="product-card">
                <img src="{{product.product_thumbnail}}" alt="Product Image">
                <a href="./products/{product.id}"><h4>{{product.product_name}}</h4></a>
                <p>{{product.product_price}}$</p>
                <button>Add to Cart</button>
              </div>
              <div class="product-card">
                <img src="{{product.product_thumbnail}}" alt="Product Image">
                <a href="./products/{product.id}"><h4>{{product.product_name}}</h4></a>
                <p>{{product.product_price}}$</p>
                <button>Add to Cart</button>
              </div>
              <div class="product-card">
                <img src="{{product.product_thumbnail}}" alt="Product Image">
                <a href="./products/{product.id}"><h4>{{product.product_name}}</h4></a>
                <p>{{product.product_price}}$</p>
                <button>Add to Cart</button>
              </div>
              <!-- {%endfor%} -->
            <!-- {% endif %} -->
          </div>
        </section>
      
        <hr>
      
        <section>
          <h3>Shop by Category</h3>
            <ul class="category-list">
              <li><a href="#">Electronics</a></li>
              <li><a href="#">Fashion</a></li>
              <li><a href="#">Home</a></li>
              <li><a href="#">Books</a></li>
            </ul>
        </section>
      
        <hr>
{% endblock %}

