{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block content %}
<link rel="stylesheet" href="../../static/regist.css">

<form method="post">
    {% csrf_token %}
    
    <div class="signup-form">
        <h2 class="signtitle">Login</h2>

        <label for="id_username">Username/Email</label>
        <input type="text" name="username" id="id_username" required><br><br>
    
    
        <label for="id_password">Password:</label>
        <input type="password" name="password1" id="id_password" required><br><br>
    
    
        <button class="regisbtn" type="submit">Login</button>
    </div>
    {{form}}
</form>
{% endblock %}
