{% extends "base.html" %}

{% load static %}
{% block styles %}    
    <link rel="stylesheet" type="text/css" href="{% static 'default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'account.css' %}">
{% endblock %}

{% block title%}Login{% endblock %}

{% block content %}
<div class="main">
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div id="io">
                <div class = "verticalflex">
                    <label for="username">{{form.username.label_tag}}</label>
                    <label for="password">{{form.password.label_tag}}</label>
                </div>
                <div class = "verticalflex">
                     {{form.username}}
                     {{form.password}}
                </div>
            </div>
            {% if form.non_field_errors %}
                <p style="color: red;">{{ form.non_field_errors }}</p>
            {% endif %}
            {% if form.username.errors %}
                <p style="color: red;">{{ form.username.errors }}</p>
            {% endif %}
            {% if form.password.errors %}
                <p style="color: red;">{{ form.password.errors }}</p>
            {% endif %}
            <button type="submit">Log in</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Register here</a></p>
    </div>
</div>
{% endblock %}