body {
    background: #1C1C1C;   
    font-family: Arial, Helvetica, sans-serif;
}

.cart-text{
    background: radial-gradient(circle,rgba(192, 139, 67, 1) 0%, rgba(255, 206, 70, 1) 50%, rgba(192, 139, 67, 1) 100%);
    color: #3B3B3B;
    padding: 20px;     
    margin-bottom: 10px;
}

.cart-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 32px; 
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.container div {
    background-color: #FFE8A7;
    padding: 20px 300px 40px 20px ;
    border-radius: 10px;
    margin: 10px 0 0 ;
    display: flex;
    align-items: flex-start;
    
    
}

/*  PRODUCT CARD STYLES */
div.product-card {
    display: flex;
    align-items: start;
}

div.product-card a {
    color: #123c69;
}

div.product-card p {
    color: #123c69;
}

div.product-card button {
    color: #123c69;
}

/*  CATEGORY LIST – LIKE A SIDEBAR */
ul.category-list {
    list-style: none;
    padding: 0 ;
}

.category-list a {
    color: #123c69;
    padding: 10px;
    margin: 5px 200px;
    border-radius: 5px;
}

div.checkout {
    display: flex;
    flex-direction: column;
    background-color: #FFE8A7;
    padding: 24px 20px;
    border-radius: 10px;
    width: 300px;
    min-width: 220px;
    max-width: 340px;
    margin-left: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

div.checkout-button {
    background-color: #123c69;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

h2.text{
    color: #123c69;
    background: radial-gradient(circle,rgba(192, 139, 67, 1) 0%, rgba(255, 206, 70, 1) 50%, rgba(192, 139, 67, 1) 100%);
    font-size: 32px;
    padding: 20px 20px ;
}
