body{
    background-color: aliceblue;
}

/* h1{

} */

div.box{
    background-color: lightgray;
    border-color: black;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    ul{
        background-color: beige;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: small;
    }
}

div.user{
    display: flex;
    flex-direction: row;
    aside{
        background-color: lightgray;
        min-width: 20%;
    }

}